/* FONTS */
@font-face {
  font-family: 'Futurice';
  src: url('assets/fonts/Futurice-Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'Futurice';
  src: url('assets/fonts/Futurice-Bold.otf');
  font-weight: 600;
}
@font-face {
  font-family: 'Futurice-Monospaced';
  src: url('assets/fonts/Futurice-Monospaced.otf');
  font-weight: 400;
}

/* VARIABLES */
:root {
  --light-green: #299F65;
  --strong-green: #306A4D;
  --dark: #333;
  --gray: #f0f0f0;
  --container-width: 90%;
  --container-wide-width: var(--container-width);
  --container-narrow-width: var(--container-width);
}
@media screen and (min-width: 500px) {
  :root{
    --container-width: 80%;
  }
}
@media screen and (min-width: 800px) {
  :root{
    --container-width: 70%;
    --container-wide-width: 90%;
  }
}
/*@media screen and (min-width: 1250px) {
  :root{
    --container-narrow-width: 50%;
  }
}*/
@media screen and (min-width: 1350px) {
  :root{
    --container-width: 1000px;
    --container-narrow-width: 800px;
    --container-wide-width: 1200px;
  }
}

/* RESET & TYPOGRAPHY */
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Futurice', 'Helvetica', 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #333;
}
@media screen and (min-width: 500px) {
  html, body {
    font-size: 18px;
  }
}
@media screen and (min-width: 900px) {
  html, body {
    font-size: 20px;
  }
}
@media screen and (min-width: 1400px) {
  html, body {
    font-size: 22px;
  }
}
a {
  color: var(--light-green);
  text-decoration: none;
}
a:hover {
  color: var(--strong-green);
}
hr {
  border: 2px solid var(--light-green);
  width: 30%;
}

/* COMPONENTS */
.button {
  font-weight: 600;
  padding: 0.8em;
  border-radius: 0.3em;
  background-color: var(--light-green);
  color: white;
  text-align: center;
}
.button:hover {
  background-color: var(--strong-green);
  color: white;
}
.button.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gray {
  padding: 2em 0;
  background-color: var(--gray);
}

/* large paragraphs and titles inbetween sections*/
.large-paragraph {
  width: 80%;
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
}
h3,
.large-paragraph {
  font-size: 1.2rem;
}
.tiny-paragraph {
  display: block;
  width: 80%;
  margin: 1em auto;
  font-size: 0.8rem;
  text-align: center;
}

/* row of three images with title and paragraph below */
.row-container {
  width: 100%;

  display: flex;
  flex-direction: column;
}
.row-element {
  width: 100%;
  margin-bottom: 3em;
  text-align: center;
}
.row-img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.mono-icon {
  width: 5em;
}
.row-element > h3 {
  text-align: center;
  margin-bottom: 0.5em;
}
.row-element > p {
  margin-top: 0.5em;
}

/* start applying horizontal row styles */
@media screen and (min-width: 800px) {
  .row-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .row-element {
    text-align: center;
    width: 30%;
  }
  .row-element.two-columns {
    width: 48%;
  }
  .row-element > h3.fixed-height {
    height: 3.5em;
    margin-bottom: 0;
  }
  /*p {*/
  .row-element > p {
    margin-top: 0;
    /*font-size: 0.8em;*/
  }
}

/* image and paragraph side by side (How it works section) */
.sidebyside {
  margin: 3em 0;
}
.sidebyside-img {
  display: block;
  width: 100%;
}
.gif-icon {
  display: block;
  margin: 0 auto;
  width: 12em;
}
.sidebyside-content > h3 {
  margin-bottom: 0.5em;
  text-align: center;
}
.sidebyside-content > p {
  margin-top: 0.5em;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .sidebyside {
    display: flex;
    align-items: center;
  }
  .sidebyside.right {
    flex-direction: row-reverse;
  }
  .sidebyside > :first-child {
    margin-right: 1.5em;
  }
  .sidebyside.right > :first-child {
    margin-right: 0;
  }
  .sidebyside.right > :last-child {
    margin-right: 1.5em;
  }
  .sidebyside-content > h3,
  .sidebyside-content > p {
    text-align: left;
  }
}

/* Main column width */
.container {
  width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
}
.container.narrow {
  width: var(--container-narrow-width);
}
.container.wide {
  width: var(--container-wide-width);
}


/* NAV */
.nav {
  width: 100%;
  position: absolute;
  top: 2em;
  left: 0;
  z-index: 100;
}
.top-logo {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 1.3em;
}

/* COVER */
.cover {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.background-vid {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: var(--gray);
}

.cover-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
}
.main-title {
  font-size: 2em;
}
.scrolldown-arrow {
  display: block;
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 1000px) {
  .cover-content {
    width: 22em;
  }
}
.cover .button {
  display: block;
  margin: 1em auto;
  width: 10em;
  margin-top: 0.5em;
}

/* INTRO */

/* VIDEO */
.video {
  margin: 5em auto;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* OUTCOMES */
.outcomes {
}
/* Carousel controls */
.flickity-prev-next-button {
  display: none;
}
.flickity-page-dots {
  display: none;
}

/* Carousel navigation tabs */
.carousel-tabs {
  width: 95%;
  margin: 1em auto;

  display: flex;
  justify-content: center;
}
.tab {
  margin: 0 0.3em;
  padding: 0.4em 0.5em;
  text-align: center;
  line-height: 1.1;
  border-bottom: 3px solid white;
  cursor: pointer;
}
.tab.active {
  border-bottom: 3px solid var(--light-green);
  font-weight: 600;
}

.carousel {
  z-index: 1;
}
.carousel-cell {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
}
.carousel-img {
  display: block;
  width: 100%;
  align-self: center;
  margin-bottom: 0;
}
.carousel-text {
  margin-top: 0.5em;
  align-self: center;
  text-align: center;
  width: var(--container-width);
  max-width: 30em;
}
.carousel-text > p {
  margin-top: 0.5em;
}
@media screen and (min-width: 500px) {
  .carousel-img {
    width: var(--container-width);
  }
}

/* DOWNLOAD */
.download {
  padding: 2em 0 4em;
}
.download .row-element {
  margin: 0.5em auto;
  padding: 2em;
  border-radius: 0.3em;
  background-color: var(--gray);
  text-align: center;
}
.download .button {
  display: block;
  width: 12em;
  margin: 1em auto 0;
}
@media screen and (min-width: 800px) {
  .download .button {
    width: auto;
  }
}
.download .mono-icon {
  margin-bottom: 2em;
}
.download p {
  margin-bottom: 0;
}

/* AWARDS */
.awards .row-element {
  margin: 0.5em auto;
  padding: 2em;
  border-radius: 0.3em;
  background-color: white;
  text-align: center;
}
.awards h4 {
  margin-top: 0;
}
.awards p {
  margin-bottom: 0;
}
.row-img.logo {
  margin-top: 1em;
  width: 8em;
  max-width: 100%;
}
.row-img.logo.wide {
  width: 12em;
}
@media screen and (min-width: 800px) {
  .row-element.center-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* OPEN SOURCE */
.opensource {
  padding-top: 2em;
}
.gh-button {
  width: 15em;
  margin-bottom: 4em;
}
.cc-logo,
.chilicorn-logo {
  height: 3em;
  margin-bottom: 0.5em;
}

/* CONTACT */
.contact .row-img {
  margin-bottom: 1em;
}
.contact .row-element {
  margin-bottom: 1em;
}
.social-header {
  margin: 1em auto;
}
.social-icon-container {
  display: flex;
  width: 10em;
  margin: 0 auto;
  justify-content: space-between;
}
.social-icon {
  display: block;
  width: 2.5em;
}

/* FUTURICE */
.futurice {
  padding-bottom: 3em;
}
.futurice .logo {
  width: 6em;
}

/* FOOTER */
.footer {
  padding: 0.5em 0;
  background-color: var(--dark);
  color: white;
}
