
// colors

// general colors
$color-futurice: #349d4a;
$color-light-gray: #ebe9e8;
$color-black: #333333;
$color-white: #ffffff;

// fonts

$font-regular: "Montserrat", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-bodycopy: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;