@import "constants";

.card {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.2);
  height: 200px;
  opacity: 0.0;
  position: absolute;
  width: 200px;

  &.smart-beacon {
    background-image: url('../images/card_smart_beacon.jpg');
    left: 295px;
    top: 120px;
    transform: scale(1) translateX(20px) translateY(400px);
  }

  &.smart-phone {
    background-image: url('../images/card_smart_phone.jpg');
    left: 185px;
    top: 120px;
    transform: scale(1) rotate(-12deg) translateX(-150px) translateY(400px);
  }
}

.area {
  border-radius: 50%;
  opacity: 0.0;
  position: absolute;

  &.smart-beacon {
    background-color: rgba(35, 165, 255, 0.2);
    border: 1px dashed rgba(35, 165, 255, 1);
    height: 150px;
    left: 320px;
    width: 150px;
    top: 145px;
  }
}
