@import "constants";

html {
    font-size: 10px; // 1rem = 10px
}

body {
    background-color: $color-light-gray;
    line-height: 2.4rem;
    font-family: $font-bodycopy;
    font-size: 1.6rem;
    font-weight: 300;
}

.heading-1 {
    color: $color-futurice;
    font-family: $font-regular;
    font-size: 4.6rem;
    font-weight: 700;
    line-height: 5.0rem;
    margin: 0 0 16px 0;
    padding: 0;
}

p {
    padding: 4px 0;
}

.fullsize-container {
    padding: 40px 0;
    width: 100%;

    &.light-gray {
        background-color: $color-light-gray;
        color: $color-black;
    }

    &.hero {
        background-image: url("../images/hero.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 300px;
        padding: 130px 0 80px 0;

        .heading-1 {
            color: $color-white;
            text-align: center;
            text-transform: uppercase;
        }
    }

    &.cards {
        background-image: url("../images/cards.png");
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 50% auto;
        min-height: 560px;

        @media (min-width: 992px) {
            background-size: contain;
            min-height: auto;
        }

        @media (max-width: 767px) {
            background-image: none;
        }

        .heading-1 {
            @media (min-width: 992px) {
                padding-top: 40px;
            }
        }
    }
}

.media {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &.cards {
        background-image: url("../images/cards.png");
        background-position: right center;
        background-size: contain;
        height: 300px;
    }

    &.kit {
        background-image: url("../images/kit.png");
        background-position: center center;
        background-size: contain;
        height: 300px;
    }

    &.blueprints {
        background-image: url("../images/blueprints_overview.png");
        background-position: center center;
        background-size: contain;
        height: 300px;
    }
}

.pull-right-sm {
    @media (min-width: 767px) {
        float: right;
    }
}
